{% extends 'applications/base.html' %}
{% block content %}
    <div class="row justify-content-center">
        {% for application in application_list %}
            <div class="col-3">
                <div class="card mt-5">
                    <div class="card-body">
                        <p class="card-title h5">{{ application.companyName }}</p>
                        <p class="card-subtitle text-muted font-contact">Contact: {{ application.companyContact }}</p>
                        <div class="card-text mt-3">
                            {% if application.accepted == True %}
                                <p class="text-success">Aangenomen</p>
                            {% elif application.rejected == True %}
                                <p class="text-danger">Afgewezen</p>
                            {% else %}
                                <p class="text-primary">Geen Reactie</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="btn-group">
                        {% if application.websiteLink %}
                            <a class="btn btn-dark w-50" href="{{ application.websiteLink }}" target="_blank">Link
                                Website</a>
                        {% endif %}
                        <a class="btn btn-primary w-50" href="{% url 'application-detail' application.id %}">Details</a>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}